 body {
      background-image: url('../image/fond.png');
      background-size: cover;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #000000;
      margin: 0;
      padding: 0;
    }
    h1 {
      color: #ffffff;
    }
    p{
        color :#ffffff
    }
    a{
      color: blue;
      margin-top: 10px;
    }
    #map {
      height: 400px;
      width: 80%;
      margin-top: 20px;
    }
    .input-container {
      margin: 20px 0;
      display: flex;
      gap: 10px;
    }
    input[type="text"] {
      padding: 8px;
      width: 200px;
    }
    button {
      padding: 8px 12px;
      background-color: blue;
      color: white;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #45a049;
    }
      .reset-link {
        display: block;
        color: blue;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
        margin-top: 50px;
      }

      .top-banner {
        background-color: #000000; /* Couleur de fond du bandeau */
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre sous le bandeau */
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000; /* S'assure que le bandeau reste au-dessus du reste du contenu */
      }
      
      .logo {
        font-size: 30px;
        font-weight: bold;
        margin-right: 20px;
      }
      
      .nav-links {
        display: flex;
        gap: 100px; /* Espace entre les liens */
      }
      
      .nav-links a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
      }
      
      .nav-links a:hover {
        color: #0099ff; /* Change la couleur du lien au survol */
      }
      
      /* Style pour la section principale */
      main {
        padding: 20px;
        text-align: center;
      }

      @media screen {
        
      }